
body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  color: #2b3a55;

  /* 🌸 BACKGROUND UTAMA */
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay biar tulisan kebaca */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.55);
  z-index: -1;
}

/* CARD BESAR */
.card {
  margin-top: 140px;
  display: inline-block;
  background: white;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  max-width: 500px;
}

/* TEXT BESAR */
h1 { font-size: 34px; }
h2 { font-size: 24px; }
p  { font-size: 18px; line-height: 1.6; }

/* BUTTON */
button {
  font-size: 18px;
  padding: 14px 22px;
  border-radius: 15px;
  border: none;
  background: #a8d0ff;
  cursor: pointer;
  margin-top: 15px;
}

/* BACK BUTTON */
.back {
  position: fixed;
  bottom: 15px;
  left: 15px;
  background: #a8d0ff;
  padding: 12px 16px;
  border-radius: 12px;
  text-decoration: none;
  color: #2b3a55;
  font-size: 14px;
}

/* FOTO SURPRISE (INI PAKAI foto.jpg) */
.photo {
  width: 100%;
  border-radius: 20px;
  margin-top: 15px;
  }
