
body {
  margin: 0;
  font-family: Arial;
  background: #eaf6ff;
  text-align: center;
  color: #2b3a55;
  overflow: hidden;
}

/* CARD BESAR */
.card {
  margin-top: 120px;
  display: inline-block;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.card.big {
  max-width: 420px;
}

/* TEXT BESAR */
.text-big {
  font-size: 18px;
  line-height: 1.6;
}

/* BUTTON BESAR */
.btn-big {
  font-size: 18px;
  padding: 14px 22px;
  border-radius: 14px;
  border: none;
  background: #a8d0ff;
  cursor: pointer;
}

/* BACK BUTTON (ALL PAGE) */
.back {
  position: fixed;
  bottom: 15px;
  left: 15px;
  text-decoration: none;
  background: #a8d0ff;
  padding: 10px 15px;
  border-radius: 12px;
  color: #2b3a55;
}

/* MUSIC AUTO BUTTON HIDDEN (optional) */
audio {
  display: none;
}

/* PHOTO */
.photo {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}

/* SHOOTING STAR */
.star {
  position: fixed;
  top: -10px;
  width: 2px;
  height: 80px;
  background: linear-gradient(white, transparent);
  animation: fall linear infinite;
  opacity: 0.8;
}

@keyframes fall {
  0% {transform: translateY(0) rotate(45deg);}
  100% {transform: translateY(110vh) rotate(45deg); opacity: 0;}
}
